block footer
    footer.footer
        .container
            p.text-muted Made by Team Dedsec for Telerik Academy's Node.js Apps Course.
                    a(href="https://github.com/Team-Dedsec/ProjectsTracker") View source