include index

    #banner.container
        .row
            .col-lg-12        
                .jumbotron
                    h1 Project Tracker
                    |   
                    p
                        | This is a simple project managment system that allows you to have a better view on your projects, employees and work that they had done.
                    |   
                    p
                        a.btn.btn-primary.btn-lg(href="/projects") View Sample Projects
