include layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand(href='/') Project tracker
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li.dropdown
                        a.dropdown-toggle(href='/projects', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Projects
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/projects') View All Projects
                            li
                                a(href='/projects/create') Create Project
                            li
                                a(href='#') Find Project
                    li.dropdown
                        a.dropdown-toggle(href='/tasks', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Tasks
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/tasks') View All Tasks
                            li
                                a(href='/tasks/create') Create Task
                            li
                                a(href='#') Find Task
                    li
                        a(href='/users') Users

                form.form-inline.navbar-form.navbar-left(action="/search" method="get" role='search')
                    .form-group
                        input.form-control(type='text', placeholder='Search' name="s")
                        select.form-control#select(name="searchType")
                            option
                                | Projects
                            option
                                | Tasks
                            option
                                | Users
                    button.btn.btn-danger.btn-sm(type='submit')
                        span.glyphicon.glyphicon-search
                ul.nav.navbar-nav.navbar-right
                    if(isAuthenticated() == false)
                        li
                            a(href='/register')
                                span.glyphicon.glyphicon-user
                                |  Sign Up

                        li
                            a(href='/login')
                                span.glyphicon.glyphicon-log-in
                                |  Login
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Login from account
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/auth/facebook' method='get')
                                        span.glyphicon.glyphicon-log-in
                                        |  Facebook Login
                                li
                                    a(href='/auth/github' method='get')
                                        span.glyphicon.glyphicon-log-in
                                        |  GitHub Login
                    else
                        li.dropdown
                            a.dropdown-toggle(href="/profile", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                span.glyphicon.glyphicon-user
                                | #{user.username}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/profile")
                                        | My Profile
                                li
                                    a(href="/users/projects")
                                        | My Projects
                                li
                                    a(href="/#")
                                        | My Tasks
                                li
                                    a(href="/logout")
                                        span.glyphicon.glyphicon-log-out
                                        | Log Out
                    li.dropdown
                        a.dropdown-toggle(href="/settings", data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            span.glyphicon.glyphicon-cog
                            | Settings
                            span.caret
                        ul.dropdown-menu
                            li
                                  a(href="/settings/projects")
                                      | All Projects
                            li
                                  a(href="/settings/users")
                                      | All Users
                            li
                                  a(href="/settings/tasks")
                                      | All Tasks
    .container
        if (success_msg.length > 0)
            .row
                div.alert.alert-success #{success_msg}
        else if (error_msg.length > 0)
            .row
                div.alert.alert-danger #{error_msg}
        block main

block footer
    script(type='text/javascript').
        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website",
            "dismiss": "Got it!",
            "learnMore": "More info",
            "link": null,
            "theme": "light-bottom"
        };
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js')
    footer.footer
        .container
            p.text-muted Made by Team Dedsec for Telerik Academy's Node.js Apps Course.
                a(href="https://github.com/Team-Dedsec/ProjectsTracker") View source
