doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://bootswatch.com/yeti/bootstrap.css')
    script(src="../../public/bower_components/jquery/dist/jquery.min.js")
    script(src="../../public/bower_components/bootstrap/dist/js/bootstrap.min.js")
  body
    block content
