extends index

block main
    .page-header
        h1 Login here:
          form(action="/login" method="post")
                    input.form-control(type="text" name="username" placeholder="Enter Username")
                    input.form-control(type="password" name="password" placeholder="Enter Password")

                    input.btn.btn-success(type="submit" value="Login")