include index

#banner.page-header
        .row
            .col-lg-5
                .page-header
                    h1
                        | #{firstName} #{lastName}
        .row
            .col-lg-3
                img(src="#")
            .col-lg-6
                p
                    | Username #{username}
                p
                    | ID #{_id}
        .row
            