include index

#banner.page-header
        .row
            .col-lg-5
                .page-header
                    h1 Project #{title}
        .row
            .col-lg-10
                p #{description}
        .row
            .col-lg-3
                h3 LeadUser: #{leadUser}