include index
block main

    #banner.page-header
        .row
            .col-lg-5                
                    h1 Project #{title}
        .row
            .col-lg-10
                p #{description}
        .row
            .col-lg-3
                h3 LeadUser: #{leadUser}
include footer