include layout
include index

block content
  ul
  each project in projects
    li Current project
      a (href='#') #{project.title}
      a (href='#') #{project.id}
      a (href='#') #{project.leadUser}
