extends index

block main
    .col-lg-4.col-md-4.col-sm-2
        h3 Reset your password:
        form(action="/reset" method="post")
            label New password
            input.form-control(type="password" name="password" placeholder="Enter Password")
            input.form-control(type="hidden" name="token" value="" + token)
            input.btn.btn-danger(type="submit" value="Change password")
