extends index

block main
    .col-lg-4.col-md-4.col-sm-2
        h3 Reset your password:
        form(action="/reset" method="post")
            input(type='hidden', name='_csrf', value=_csrf)
            label(for="tb-password") New password
            input.form-control(type="password" id="tb-password" name="password" placeholder="Enter Password" required)
            label(for="tb-confirm") Confirm password
            input.form-control(type="password" id="tb-confirm" placeholder="Confirm your Password" required)
            input.form-control(type="hidden" name="token" value="" + token)
            input.btn.btn-danger(type="submit" value="Change password")

    script(src="../public/js/confirm-password.js")