extends index

block main
    #banner.page-header
        .row
            .col-lg-5                
                    h1 Task #{title}
        .row
            .col-lg-10
                p #{description}
