include index

  #banner
      .row        
        .col-lg-10
          .page-header
            h1 Tasks
      .row
        .col-lg-10.col-md-10   
          .panel.panel-primary
            each task in tasks
              - var url = task.title;    
              .panel-heading
                h3.panel-title
                  a(href="tasks/" + url) #{task.title}
                |   
              .panel-body
                | #{task.description}
