include index

#banner.container
      .row
        .col-lg-10
          .page-header
            h1 Tasks
      .row
        each task in tasks
          .col-lg-12
            .panel.panel-primary
              - var url = task.title;
                    .panel-heading
                      h3.panel-title
                        a(href="tasks/" + url) #{task.title}
                    .panel-body
                      p #{task.description}