extends index

block main
    .page-header
       if users.length > 0
         h1
            | Found users:
         each user in users
                    ul.col-md-4
                        li
                            a(href="user/" + user.username)
                               | #{user.username}
                        li #{user.firstName}
                        li #{user.lastName}
                        li #{user.fullName}
       else
          h1
            | User not found!
