html {
    position: relative;
    min-height: 100%;
}

html > body {
    padding: 65px 0 0;
    margin-bottom: 60px;
}

a {
    color: #00B7FF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 0;
}

div.alert {
    font-size: inherit;
}

img.profile-pic {
    width: 225px;
}

.full-width {
    width: 100%;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.error {
    color: #f00;
}