extends index

block main
    .col-lg-8.col-md-8.col-sm-4
        h2 Enter your e-mail and we will send you a link to change your password:
        form(action="/forgot" method="post")
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type="email" name="email" placeholder="Enter your Email" autofocus)

            input.btn.btn-success(type="submit" value="Send")
