extends index
include mixins
block main
    #banner.page-header
        .row
            .col-lg-12 
                .panel.panel-info
                    .panel-heading                   
                        h1.panel-title Project #{project.title}                                               
                    .panel-body
                        | Description:                         
                        .well
                            |  #{project.description}
                        | LeadUser: 
                        .well.well-lg                                        
                            | #{project.leadUser.username}                                         
                if(req.user && req.user.id == project.leadUser._id)
                    - var id = project.id;                
                    a.btn.btn-default(href='/projects/' + id + '/addUser') AddUser                        
                    a.btn.btn-default(href='/projects/' + id + '/createTask') AddTask  
    if(tasks && tasks.length > 0)
        .container
            +tasks-table(tasks)
                    
        
  
          

