extends index

block main
    .col-lg-4.col-md-4.col-sm-2
        h1 Register here:
            form(action="/register" method="post")
                input(type='hidden', name='_csrf', value=_csrf)
                label(for="tb-firstname") First Name
                input.form-control(type="text" id="tb-firstname" name="firstName" placeholder="Enter First Name" required)
                label(for="tb-lastname") Last Name
                input.form-control(type="text" id="tb-lastname" name="lastName" placeholder="Enter Last Name" required)
                label(for="tb-email") Email
                input.form-control(type="email" id="tb-email" name="email" placeholder="Enter Email" required)
                label(for="tb-username") Username
                input.form-control(type="text" id="tb-username" name="username" placeholder="Enter Username" required)
                label(for="tb-password") Password
                input.form-control(type="password" id="tb-password" name="password" placeholder="Enter Password" required)
                label(for="tb-confirm") Confirm Password
                input.form-control(type="password" id="tb-confirm" placeholder="Confirm your Password" required)
                input.btn.btn-danger(type="submit" value="Register")

    script(src="public/js/confirm-password.js")
