include index

#banner.container
      .row
        .col-lg-10
          .page-header
            h1 Users
      .row
        each user in users
          .col-lg-12
            .panel.panel-primary
              - var url = user.username;
                    .panel-heading
                      h3.panel-title
                        a(href="user/" + url) #{user.username}
                    .panel-body
                      p #{user.fullName}

